div#img{
    margin:0;
    width: 100%;
    background: url('../images/solar.jpg');
    height: 500px;
}
div#img h1 {
    color: white;
    text-align: center;
    padding-top: 100px;
    margin:0;
    
}
